<link rel="stylesheet" type="text/css" href="/css/style.css">
  <div class="form">
  <h1>RENT <span class="redH1">IT</span> </h1>
    <div class="tab-content">
      <div id="signup">
        <h1>RENT <span class="redH1">IT</span> </h1>
        <form action="/" method="post">
          <div class="top-row">
            <div class="field-wrap">
              <div class="username-link">
                <label>
                  Renter/Lessee<span class="req"></span>
                  <select>
                    <option value=””></option>
                    <option value=””>Renter</option>
                    <option value=””>Lessee</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="field-wrap">
              <div class="location-box">
                <label>
                  Location<span class="req"></span>
                </label>
                <input type="text" placeholder="City, State" required auto>
              </div>
            </div>
            <div class="field-wrap">
              <div class="description-box">
                <label>
                  Description<span class="req"></span>
                </label>
                <input type="text" required auto>
              </div>
            </div>
            <button class="search-button">Search</button>

