<!-- The view is currently rendered using hardcoded data. -->
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Rent It</title>
  <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <header>
      <h1>
        RENT IT
      </h1>
      </header>
    <form>
      <label for="email">Email:    </label>
      <input type="text" ><br>
      <label for="password">Password: </label>
      <input type="text" ><br><br>
      <input type="submit" value="Login">
    </form>
</body>

</html>