<link rel="stylesheet" type="text/css" href="/css/style.css">
<div class="form">
    <h1>RENT <span class="redH1">IT</span> </h1>
  <div class="tab-content">
    <form id="login">
          <div class="field-wrap">
            <div>
              <label>
                Username:<span class="req"></span>
              </label>
              <input type="text" class="username-link" required autocomplete="off" />
            </div>
          </div>
          <div class="field-wrap">
            <div>
              <label>
                Password:<span class="req"></span>
              </label>
              <input type="password" class="password-link" required  autocomplete="off">
            </div>
          </div>
          <ul class="tab-group">
            <li class="tab active"><a href="/signup">Sign Up</a></li>
            <li class="tab"><button class="btn btn-primary" type="submit">Log In</button></li>
          </ul>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>

          
          
         